@charset "UTF-8";
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.menu {
	list-style: none;
	padding: 0;
	display: flex;
}
.menu > li {
	margin: 0 10px;
}
.logo > img {
	animation : ro 1s linear infinite;	
}
@keyframes ro {
	100% {
		transform: rotate(360deg);
	}
}
.board {
	border-collapse: collapse;
}
.board th, .board td {
	border: 1px solid black;
	padding: 5px 10px;
}
.inputForm{
	display: inline-block;
}
.inputForm label{
	display: inline-block;
	width: 70px;
}
.inputForm input{
	width: 150px;
	box-sizing: border-box;
}