@charset "UTF-8";
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.menu {
	list-style: none;
	padding: 0;
	display: flex;
}
.menu > li {
	margin: 0 10px;
}
.logo > img {
	animation : ro 1s linear infinite;	
}
@keyframes ro {
	100% {
		transform: rotate(360deg);
	}
}
.board {
	width: 600px;
}
.board th, .board td {
	border: 1px solid $aeaeae;
	padding: 5px 10px;
}
.board td{
	text-align: center;
}
.board .title{
	text-align:left;
}
.page{
	margin: 10px 0;
	list-style:none;
	padding: 0;
	display: flex;
	justify-content:center;
	
}
.page > li{
	margin:0 10px;
}
.search{
	display:flex;
	justify-content:space-between;
}
.search > form > div{
	display:flex;
	border:1px solid #aeaeae;
	height: 100%;
}
.search > form > div > *{
	border: 0;
	outline: none;
}
#view pre{
	text-align: left;
}
#view > div{
	display:flex;
}
.write table{
	boader-collapse:collapse;
	width: 600px;
}
.write th, .write td{
	border: 1px solid #aeaeae;
	padding: 5px 10px;
}
.write input, .write textarea{
	width:100px;
	box-sizing: border-box;
	border: 0;
	outline: none;
	font-family: consolas;
	font-size: 120%;
}
.inputForm{
	display: inline-block;
}
.inputForm label{
	display: inline-block;
	width: 70px;
}
.inputForm input{
	width: 150px;
	box-sizing: border-box;
}